<p>お気に入り一覧</p>

<% @favorites.each do |favorite| %>
  <p><%= favorite.post.user.name %>さんの投稿<br></p><br>
  <%= image_tag(favorite.post.image.url) if favorite.post.image.present? %><br>
  <%= favorite.post.content %>
  <p class = "hr"></p>
<% end %>

