<br><br>
<h4>馬が大好きな皆さまへ🐴</h4><br>
<p>こんにち、本サイトに訪問いただきありがとうございます</p>
<p>馬好きが集まるプラットフォームを作りたい、そんな想いで当サイトをつくりました</p><br>
<p>皆さまの愛馬はどんな子ですか？</p>
<p>くりっとした綺麗な目をしていたり、ちょっと気の抜けた表情で寝ていたり</p>
<p>可愛い姿をついつい共有したくなる時もあると思います</p>
<p>そんな時は<%= link_to 'whisper', posts_path %>に、ささやいてみるのも良いでしょう</p>
<p>その投稿をきっかけに、新たな出会いが生まれます</p><br>
<p>ここにいる皆さまは、きっと馬に乗ることが好きなはず</p>
<p>せっかく相手がいるものなので、記録をつけてみませんか？</p>
<!--<p>乗馬日記をつけることで、長期的に運動内容を把握することができます</p>-->
<p><%= link_to '乗馬日記', horse_diaries_path%>はその子と過ごした時間です</p>
<p>より良い運動をするために、わかりあうためのヒントとなるでしょう</p><br>
<!--<p>繰り返し見返す事はよりよい運動に繋がります</p><br>
<p>健康状態を一緒に記録に残すこともおすすめします</p>
<p>彼らは辛い思いをしていても、言葉にすることができません、私たちに気づく努力が必要です</p><br>
<p>日々記録をとる事で、変化に鈍感にならずに済むと思います</p><br>-->
<p>それでは、一旦ここまでにして</p>
<p>皆さまの乗馬ライフが充実したものでありますように</p>
<p></p>
<p></p>
<p></p>


