<h1>Whisper</h1><br>
<%= link_to '新しく投稿する', new_post_path%><br>

  <% @posts.each do |post| %>
    <div rows: 12>
      <p><%= link_to (post.content), post_path(post.id) %><br></p>
      <% if post.image.present? %>
        <p><%= image_tag post.image.url, class: "img-fluid" %></p><br>
      <% end %>
      <p class = "hr"></p>
      </div>
    <%#= link_to '詳細', post_path(post.id) %>
  <%end%>

<%= link_to 'マイページ', edit_user_registration_path(current_user.id) if current_user.name != 'gust' %> 

